from src.{{binary_slug}}.arg_parser import arg_parser, Args
{% if should_use_config %}
from src.shared.Config import Config
{% endif %}
{% if should_use_db %}
from src.shared.Database import Database
{% endif %}


{% if should_use_config %}
config = Config("{{binary_slug}}")
{% endif %}

{% if should_use_db %}
db = Database("{{binary_slug}}")
{% endif %}

def main():
    # Parse command line arguments
    args, extra_args = arg_parser()

    # Print the version
    if args.verbose:
        print(f'Executing {{binary_name or binary_slug}}')

    if not args.command:
        run(args, extra_args)
        exit(0)
    else:
        match args.command:
            {% if should_use_config %}
            case "config":
                handle_config(args, extra_args)
            {% endif %}
            case _:
                print("Unknown command")
                exit(1)
        exit(0)


def run(
    args: Args,
    extra_args: list[str],
):
    print("running {{binary_name or binary_slug}}")

{% if should_use_config %}
def handle_config(args: Args, extra_args: list[str]):
    if not args.sub_command:
        print("config command requires a sub-command, one of get, set, delete")
        exit(1)
    [key_path, value] = extra_args + [None] if len(extra_args) < 2 else extra_args
    match args.sub_command:
        case "get":
            print(config.get(key_path))
        case "set":
            config.update(key_path, value)
        case "delete":
            config.delete(key_path)
        case _:
            print(f"Unknown config command: {args.sub_command}. Must be one of get, set, delete")
            exit(1)
{% endif %}
